{% extends 'base.html'  %}

{% block content %}
    <div class="card container mt-4">
        <div class="card-body">
          <h5 class="card-title">{{user.username}}'s Page</h5>
          <h6 class="card-subtitle mb-2 text-muted">Details:</h6>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Username: <span class="text-end">{{user.username}}</span></li>
            <li class="list-group-item">Email Address: <span class="text-end">{{user.email}}</span></li>
            <li class="list-group-item">Name: <span>{{user.first_name}} {{user.last_name}}</span></li>
          </ul>
          {% if session['user'] == user.username %}
          <a href="/users/{{user.username}}/feedback/add" class="btn btn-primary">Post Feedback</a>
          <form style="display:inline" action="/users/{{user.username}}/delete" method="POST">
            <button class="btn btn-danger">Delete Account</button>
          </form>
          {% endif %}
        </div>
        <hr>
        {% for feedback in all_feedback %}
        <div class="card my-4">
          <div class="card-body">
            <h5 class="card-title text-info">
              {{feedback.title}}
              {% if session['user'] == feedback.username %}
              <form style="display:inline;" action="/feedback/{{feedback.id}}/delete" method="POST">
                <button class="btn btn-sm btn-danger">X</button>
              </form>
              {% endif %}
            </h5>
            <h6 class="card-subtitle mb-2 text-muted">{{user.username}}</h6>
            <p class="card-text">
              {{feedback.content}}
            </p>
          </div>
        </div>
        {% endfor %}
      </div>
{% endblock %}